$primary-color: #00b2a0;
$secondary-color: #f8f8f8;
$text-color: #242121;

%RobotoCondensed-300 {
  font-family: "Roboto Condensed";
  font-weight: 300;
}

%RobotoCondensed-300-Italic {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: italic;
}

%RobotoCondensed-400 {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

%RobotoCondensed-400-Italic {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: italic;
}

%RobotoCondensed-700 {
  font-family: "Roboto Condensed";
  font-weight: 700;
}

%Raleway-700 {
  font-family: "Raleway";
  font-weight: 700;
}

%Raleway-600 {
  font-family: "Raleway";
  font-weight: 600;
}